<template>
    <div>
      <v-text-field
        label="Title"
        v-model="title"
      ></v-text-field>
      <v-text-field
        label="Description"
        v-model="description"
      ></v-text-field>
        <v-btn @click="createGroup">Create group</v-btn>
    </div>
</template>

<script>
import { CREATE_GROUP_REQUEST } from '../store/actions/groups';
export default {
  name: 'createGroup',
  data() {
    return {
      title: '',
      description: ''
    };
  },
  methods: {
    createGroup() {
      const result = this.$store.dispatch(`groups/${CREATE_GROUP_REQUEST}`, {
        title: this.title,
        description: this.description
      });
    }
  }
};
</script>

<style>
</style>
