<template>
    <div>
      <v-text-field
        label="Name"
        v-model="name"
      ></v-text-field>
      <v-text-field
        label="Email"
        v-model="email"
      ></v-text-field>
        <v-btn @click="createMember">Create member</v-btn>
    </div>
</template>

<script>
import { CREATE_MEMBER_REQUEST } from '../store/actions/members';
export default {
  name: 'createMember',
  data() {
    return {
      name: '',
      email: ''
    };
  },
  methods: {
    async createMember() {
      const response = await this.$store.dispatch(
        `members/${CREATE_MEMBER_REQUEST}`,
        {
          name: this.name,
          email: this.email
        }
      );
      if (response.status && response.status === 201) {
        this.$router.push('/members');
      }
    }
  }
};
</script>
