<template>
<div>
     <v-toolbar flat color="white">
      <v-toolbar-title>Groups</v-toolbar-title>
      <v-divider
        class="mx-2"
        inset
        vertical
      ></v-divider>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="500px">
        <v-btn slot="activator" color="primary" dark class="mb-2">New group</v-btn>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md6>
                  <v-text-field v-model="editedItem.name" label="Name"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md6>
                  <v-text-field v-model="editedItem.description" label="Description"></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 md12>
                  <v-select
                    :items="members"
                    v-model="editedItem.members"
                    :menu-props="{ maxHeight: '400' }"
                    label="Select"
                    multiple
                    item-text="name"
                    item-value="id"
                    hint="Select members to add to group"
                    persistent-hint
                  ></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
  <v-data-table
    :headers="headers"
    :items="groups"
    :loading="isLoading"
    class="elevation-1"
  >
    <template slot="items" slot-scope="props">
      <tr @click="props.expanded = !props.expanded">
      <td class="text-xs-left">{{ props.item.name }}</td>
      <td class="text-xs-left">{{ props.item.description }}</td>
      <td class="text-xs-left">{{ props.item.members.length }}</td>
      <td class="justify-end layout">
        <v-icon
            small
            class="mr-2"
            @click.stop="editItem(props.item)"
          >
            edit
          </v-icon>
        <v-icon
          small
          class="mr-2"
          @click.stop="archiveItem(props.item)"
        >
          archive
        </v-icon>
        <v-icon
          small
          @click.stop="deleteItem(props.item)"
        >
          delete
        </v-icon>
      </td>
      </tr>
    </template>
    <template slot="expand" slot-scope="props">
      <v-card flat>
        <v-list>
          <v-list-tile v-for="member in props.item.members" :key="member.id">
            <v-list-tile-action>
              <v-icon v-if="member.fee_is_payed" color="success">check</v-icon>
              <v-icon v-else color="error">clear</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ member.name}}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-btn v-if="member.fee_is_payed" class="secondary pl-2 pr-2" @click="toggleIsFeePayed(member)">Set as not payed</v-btn>
              <v-btn v-else class="secondary pl-2 pr-2" @click="toggleIsFeePayed(member)">Set as payed</v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-card>
    </template>
  </v-data-table>
</div>
</template>

<script>
import {
  GET_GROUPS_REQUEST,
  CREATE_GROUP_REQUEST,
  UPDATE_MEMBERSHIP_REQUEST,
  DELETE_GROUP_REQUEST,
  ARCHIVE_GROUP_REQUEST
} from './../store/actions/groups.js';
import { GET_MEMBERS_REQUEST } from '../store/actions/members.js';

export default {
  name: 'groups',
  data() {
    return {
      dialog: false,
      editedItem: {
        name: '',
        description: '',
        members: []
      },
      originalItem: {
        name: '',
        description: '',
        members: []
      },
      formTitle: 'New group',
      headers: [
        {
          text: 'Name',
          sortable: true,
          value: 'name'
        },
        {
          text: 'Description',
          sortable: true,
          value: 'description'
        },
        {
          text: 'Members',
          sortable: true,
          value: 'members'
        },
        {
          text: 'Actions',
          align: 'right'
        }
      ]
    };
  },
  created() {
    this.$store.dispatch(`groups/${GET_GROUPS_REQUEST}`);
    this.$store.dispatch(`members/${GET_MEMBERS_REQUEST}`);
  },
  computed: {
    groups() {
      return this.$store.state.groups.groups || [];
    },
    isLoading() {
      return this.$store.state.groups.isLoading;
    },
    members() {
      return this.$store.state.members.members || [];
    }
  },
  methods: {
    toggleIsFeePayed(member) {
      const updatedMember = Object.assign({}, member);
      if (member.fee_is_payed) {
        updatedMember.fee_is_payed = false;
      } else {
        updatedMember.fee_is_payed = true;
      }
      this.$store.dispatch(
        `groups/${UPDATE_MEMBERSHIP_REQUEST}`,
        updatedMember
      );
    },
    deleteItem(item) {
      this.$store.dispatch(`groups/${DELETE_GROUP_REQUEST}`, item);
    },
    archiveItem(item) {
      this.$store.dispatch(`groups/${ARCHIVE_GROUP_REQUEST}`, item);
    },
    editItem(item) {
      this.editedItem = item;
      this.dialog = true;
    },
    close() {
      this.dialog = false;
      this.editedItem = Object.assign({}, this.originalItem);
    },
    async save() {
      const response = await this.$store.dispatch(
        `groups/${CREATE_GROUP_REQUEST}`,
        {
          name: this.editedItem.name,
          description: this.editedItem.description,
          members: this.editedItem.members.map(id => {
            return { id: id };
          })
        }
      );
      if (response.status && response.status === 201) {
        this.close();
      }
    }
  }
};
</script>
