<template>
<div>
     <v-toolbar flat color="white">
      <v-toolbar-title>Members</v-toolbar-title>
      <v-divider
        class="mx-2"
        inset
        vertical
      ></v-divider>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="500px">
        <v-btn slot="activator" color="primary" dark class="mb-2">New member</v-btn>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md6>
                  <v-text-field v-model="editedItem.name" label="Name"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md6>
                  <v-text-field v-model="editedItem.email" label="Email"></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table
    :headers="headers"
    :items="members"
    :loading="isLoading"
    class="elevation-1"
  >
    <template slot="items" slot-scope="props">
      <td class="text-xs-left">{{ props.item.name }}</td>
      <td class="text-xs-left">{{ props.item.email }}</td>
      <td class="justify-end layout">
        <v-icon
          small
          class="mr-2"
          @click="editItem(props.item)"
        >
          edit
        </v-icon>
        <v-icon
          small
          @click="deleteItem(props.item)"
        >
          delete
        </v-icon>
      </td>
    </template>
  </v-data-table>
</div>
  
</template>

<script>
import {
  GET_MEMBERS_REQUEST,
  CREATE_MEMBER_REQUEST,
  DELETE_MEMBER_REQUEST
} from './../store/actions/members.js';

export default {
  name: 'members',
  data() {
    return {
      dialog: false,
      editedItem: {
        name: '',
        email: ''
      },
      originalItem: {
        name: '',
        email: ''
      },
      formTitle: 'New member',
      headers: [
        {
          text: 'Name',
          sortable: true,
          value: 'name'
        },
        {
          text: 'Email',
          sortable: true,
          value: 'email'
        },
        {
          text: 'Actions',
          align: 'right'
        }
      ]
    };
  },
  created() {
    this.$store.dispatch(`members/${GET_MEMBERS_REQUEST}`);
  },
  computed: {
    members() {
      return this.$store.state.members.members || [];
    },
    isLoading() {
      return this.$store.state.members.isLoading;
    }
  },
  methods: {
    deleteItem(item) {
      this.$store.dispatch(`members/${DELETE_MEMBER_REQUEST}`, item);
    },
    editItem(item) {
      this.editedItem = item;
      this.dialog = true;
    },
    close() {
      this.dialog = false;
      this.editedItem = Object.assign({}, this.originalItem);
    },
    async save() {
      const response = await this.$store.dispatch(
        `members/${CREATE_MEMBER_REQUEST}`,
        {
          name: this.editedItem.name,
          email: this.editedItem.email
        }
      );
      if (response.status && response.status === 201) {
        this.close();
      }
    }
  }
};
</script>
