<template>
  <v-toolbar
    class="blue"
  >
    <v-toolbar-side-icon @click="toggleDrawer()"></v-toolbar-side-icon>
    <v-breadcrumbs :items="items">
      <v-icon slot="divider">chevron_right</v-icon>
    </v-breadcrumbs>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
export default {
  name: 'appToolbar',
  computed: {
    items() {
      return this.$route.meta.breadcrumb;
    }
  },
  methods: {
    toggleDrawer() {
      this.$emit('toggle-drawer', true);
    }
  }
};
</script>

<style>
</style>
