<template>
  <nav class="navbar">
    <div>
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> | 
      <router-link to="/groups">Groups</router-link> | 
      <router-link to="/groups/new">New group</router-link>
    </div>
    <button
      id="qsLoginBtn"
      class="btn btn-primary btn-margin"
      v-if="!authenticated"
      @click="login()">
        Log In
    </button>
    <button
      id="qsLogoutBtn"
      class="btn btn-primary btn-margin"
      v-if="authenticated"
      @click="logout()">
        Log Out
    </button>

  </nav>
</template>

<script>
import { AUTH_REQUEST, AUTH_LOGOUT } from '../store/actions/auth.js';

export default {
  name: 'navbar',
  data() {
    return {};
  },
  computed: {
    authenticated() {
      return this.$store.state.auth.isAuthenticated;
    }
  },
  methods: {
    login() {
      this.$store.dispatch(AUTH_REQUEST);
    },
    logout() {
      this.$store.dispatch(AUTH_LOGOUT);
    }
  }
};
</script>

<style scoped>
.navbar {
  display: flex;
  justify-content: space-between;
}
</style>
