<template>
  <v-navigation-drawer 
      v-model="drawerState"
      app 
      absolute
      temporary>
    <v-toolbar flat
      class="blue"
    >
      <v-list>
        <v-list-tile>
          <v-list-tile-title class="title">
            SVF
          </v-list-tile-title>
          <v-list-tile-action class="mr-2">
            <v-btn small
              id="qsLoginBtn"
              class="auth-button"
              v-if="!authenticated"
              @click="login()">
              Log in
            </v-btn>
            <v-btn small 
              id="qsLogoutBtn"
              class="auth-button"
              v-if="authenticated"
              @click="logout()">
              Log out
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>
    </v-toolbar>

    <v-divider></v-divider>
    <v-list dense class="pt-0">
      <v-list-tile
        v-for="item in items"
        :key="item.title"
        @click="navigateTo(item.path)"
      >
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-icon>add</v-icon>
        </v-list-tile-action>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { AUTH_REQUEST, AUTH_LOGOUT } from '../store/actions/auth.js';
export default {
  name: 'navigationDrawer',
  props: ['drawer'],
  watch: {
    drawer(newVal, oldVal) {
      this.drawerState = newVal;
    },
    drawerState(newVal, oldVal) {
      this.$emit('drawer-state-change', newVal);
    }
  },
  data() {
    return {
      drawerState: false,
      items: [
        {
          title: 'Groups',
          path: '/groups',
          icon: 'group'
        },
        {
          title: 'Members',
          path: '/members',
          icon: 'person'
        }
      ]
    };
  },
  computed: {
    authenticated() {
      return this.$store.state.auth.isAuthenticated;
    }
  },
  methods: {
    navigateTo(path) {
      this.$router.push(path);
    },
    login() {
      this.$store.dispatch(AUTH_REQUEST);
    },
    logout() {
      this.$store.dispatch(AUTH_LOGOUT);
    }
  }
};
</script>

<style scoped>
.auth-button {
  margin-right: 3em !important;
}
</style>
