<template>
  <v-app id="app">
    <v-snackbar
      v-model="snackbar"
      :color="color"
      :right="right"
      :top="top"
      :timeout="timeout"
    >
      {{ text }}
      <v-btn
        dark
        flat
        @click="closeSnackbar"
      >
        Close
      </v-btn>
    </v-snackbar>
    <NavigationDrawer @drawer-state-change="drawer = $event" :drawer="drawer"/>
    <AppToolbar @toggle-drawer="drawer = !drawer"/>
  <v-content>
    <v-container fluid>
      <router-view></router-view>
    </v-container>
  </v-content>
  <v-footer app></v-footer>
</v-app>
</template>
<script>
import Navbar from './components/Navbar.vue';
import NavigationDrawer from './components/NavigationDrawer.vue';
import AppToolbar from './components/AppToolbar.vue';
import { DISMISS_SNACKBAR } from './store/actions/snackbar';

export default {
  name: 'app',
  data() {
    return {
      drawer: false
    };
  },
  components: { Navbar, NavigationDrawer, AppToolbar },
  methods: {
    closeSnackbar() {
      this.$store.dispatch(`snackbar/${DISMISS_SNACKBAR}`);
    }
  },
  computed: {
    snackbar: {
      get() {
        return this.$store.state.snackbar.snackbar;
      },
      set() {
        this.$store.dispatch(`snackbar/${DISMISS_SNACKBAR}`);
      }
    },
    color() {
      return this.$store.state.snackbar.color;
    },
    text() {
      return this.$store.state.snackbar.text;
    },
    top() {
      return this.$store.state.snackbar.top;
    },
    right() {
      return this.$store.state.snackbar.right;
    },
    timeout() {
      return this.$store.state.snackbar.timeout;
    }
  }
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
